[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
jinja2 = "*"
boto3 = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
